<div class="ui center aligned text container">
  <h1>
    Antbot
  </h1>
  <p>
    <a href={{invite}}>
      <button class="ui button">
       Invite me
      </button>
    </a>
    <a href="https://discord.gg/NZwA9cG">
      <button class="ui button">
        Join my server
      </button>
    </a>
  </p>
  <p>
    Number of users: {{users}}
    Number of servers: {{servers}}
    Uptime: {{uptime}}
  </p>
</div>
<div class="ui text container">
  <div class="ui celled list">
    {{#each commands}}
        <div class="item">
          <div class="content">
            <div class="header">{{usage}}</div>
            {{description}}
          </div>
        </div>
    {{/each}}
  </div>
</div>
