<h1>
  Antbot
</h1>
<p>
  <a href={{invite}}> Invite me </a>
</p>
<p>
  Number of users: {{users}}
  Number of servers: {{servers}}
  Uptime: {{uptime}}
  Commands:
</p>

<ul class="command_list">
  {{#each commands}}
    <li>
      {{usage}}
      <br>
      {{description}}
    </li>
  {{/each}}
</ul>
